#the-add-new-product {
    margin-top: 40px;
    padding-top: 116px;
}

#the-add-new-product form {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

#the-add-new-product * {
    border-radius: 8px;
}

#the-add-new-product input {
    border: 1px solid #ccc;
    outline: #4a4d51;
}

#the-add-new-product input:focus {
    border-color: #4a4d51;
}

/* Left */
#the-add-new-product .product-img {

}

#the-add-new-product .show-img {
    margin-top: 20px;
    border: 1px solid #ccc;
    width: 350px;
    height: 350px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#the-add-new-product .show-img img {
    max-width: 100%;
    height: auto;
}


/* Right */
#the-add-new-product .product-info input {
    padding: 0 8px;
}

#the-add-new-product .product-info {
    padding: 20px;
    justify-content: left;
}

#the-add-new-product .product-name {
    display: block;
    width: 500px;
    height: 40px;
}

#the-add-new-product .product-price {
    display: block;
    width: 500px;
    height: 40px;
}

#the-add-new-product .product-quantity {
    display: block;
    width: 500px;
    height: 40px;
}

#the-add-new-product .product-category {
    display: block;
    height: 40px;
    width: 200px;
    cursor: pointer;
}

/* Save */
.div-category-save {
    display: flex;
    justify-content: space-between;
}

#the-add-new-product .save-new-product {
    width: 200px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #4a4d51;
    color: white;
    outline: none;
}

#the-add-new-product .save-new-product:active {
    background-color: rgb(228, 102, 123);
}

#the-add-new-product .save-new-product:hover {
    background-color: rgb(231, 44, 75);
}


