#cart-details-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 116px;
}

/* Top */
#the-cart-details .order-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66.6667%;
    margin-top: 20px;
    margin-bottom: 20px;
}

#the-cart-details .order-step .step {
    font-weight: 600;
    padding: 8px 24px;
    background-color: rgb(255, 225, 230);
    color: rgb(233, 69, 96);
    border-radius: 300px;
    cursor: pointer;
}

#the-cart-details .order-step .step-add,
#the-cart-details .order-step .step-detail {
    padding: 8px 24px;
    background-color: rgb(233, 69, 96);
    color: #fff;
    border-radius: 300px;
}

#the-cart-details .order-step .step-line {
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
}

#the-cart-details .order-step .step-line-1 {
    width: 50px;
    height: 4px;
    background-color: rgb(233, 69, 96);
}

/* Bottom */

#the-cart-details .cart-details-bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Address */
#the-cart-details .shipping-address {
    width: 100%;
    background-color: #fff;
    padding: 24px;
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}

#the-cart-details .shipping-address-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

#the-cart-details .address-title {
    margin-bottom: 8px;
    margin-top: 16px;
}

#the-cart-details .shipping-address-left {
    width: 46%;
}

#the-cart-details .shipping-address-right {
    width: 46%;
}

#the-cart-details .shipping-address-left input,
#the-cart-details .shipping-address-right input {
    width: 100%;
    min-width: 354px;
    padding: 8px 12px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(218, 225, 231);
}

#the-cart-details .shipping-address-left input:hover,
#the-cart-details .shipping-address-right input:hover {
    border-color: rgb(174, 180, 190);
}

#the-cart-details .shipping-address-left input:focus,
#the-cart-details .shipping-address-right input:focus {
    border: 1px solid rgb(233, 69, 96);
    outline: none;
    box-shadow: rgba(255, 225, 230, 0.1) 1px 1px 8px 4px;
}




/* Voucher */
#the-cart-details .apply-voucher {
    width: 30%;
    min-width: 384px;
    margin-left: 24px;
    padding: 24px;
    background-color: #fff;
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#the-cart-details .select-voucher {
    border: 1px solid rgb(218, 225, 231);
    border-radius: 5px;
    padding: 10px 16px;
}

#the-cart-details .btn-pay {
    padding: 10px 16px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fff;
    font-weight: 600;
}

#the-cart-details .btn-pay:hover {
    background-color: rgb(233, 69, 96);
    color: #fff;
}

#the-cart-details .apply-title {
    font-weight: 600;
}

.total-amount {
    font-size: 20px;
}