/* @media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
} */

/* appearance for checked radiobutton */
/* input[type="radio"] {
    accent-color: rgb(233, 69, 96);
} */
#the-cart-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 80px;
    padding-top: 116px;
}


#The-cart label {
    margin-bottom: unset;
}

/* Top */
#the-cart .order-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66.6667%;
    margin-top: 20px;
}

#the-cart .order-step .step {
    font-weight: 600;
    padding: 8px 24px;
    background-color: rgb(255, 225, 230);
    color: rgb(233, 69, 96);
    border-radius: 300px;
    cursor: pointer;
}

#the-cart .order-step .step-add {
    padding: 8px 24px;
    background-color: rgb(233, 69, 96);
    color: #fff;
    border-radius: 300px;
}

#the-cart .order-step .step-line {
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
}

/* Bottom */

#the-cart .card-body input::placeholder {
    color: #b0adad;
    opacity: 1; 
    font-size: 14px;
    font-style: italic;
}

#the-cart .card-body input::-ms-input-placeholder { 
    color: #b0adad;
}

#the-cart .btn-delete-product-out-cart:hover {
    color: black !important;
}

#the-cart .t-discount {
    padding: 4px 8px;
}
