#the-detail {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto 2rem;
    padding-top: 116px;
}

/* Top */
#the-detail .order-step {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66.6667%;
}

#the-detail .order-step div.step {
    font-weight: 600;
    padding: 8px 24px;
    background-color: rgb(255, 225, 230);
    color: #4a4d51;
    border-radius: 300px;
}

#the-detail .order-step div.step:nth-child(1) {
    padding: 8px 24px;
    background-color: #4a4d51;
    color: #fff;
    border-radius: 300px;
}

#the-detail .order-step .step-line {
    width: 50px;
    height: 4px;
    background-color: rgb(255, 225, 230);
}

/* Bottom */
#the-detail .product-detail {
    display: flex;
    justify-content: space-between;
}

/* Img */
#the-detail .product-img {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#the-detail .small-img {
    display: flex;
    justify-content: center;
}

/* Info */
#the-detail .product-info {
    width: 50%;
    padding: 2rem;
}

#the-detail .product-name {
    font-weight: 600;
    margin-bottom: 1rem;
}

#the-detail .product-category {
    margin-bottom: 1rem;
}

#the-detail .product-rated {
    margin-bottom: 1rem;
}

#the-detail .product-price {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 25px;
    color: #4a4d51;
}

#the-detail .product-inventory {
    margin-bottom: 24px;
}

/* Button add to cart */
#the-detail .add-to-cart {
    width: 124px;
}

#the-detail .quantity-selector {
    margin-bottom: 20px;
}

#the-detail .quantity-selector i {
    color: #4a4d51;
}

#the-detail .add-to-cart #button-container button {
    font-weight: 600;
}


/* active btn add */
#the-detail .btn-not-active {
    pointer-events: none;
}

#the-detail .btn-not-active button {
    background-color: #a09d9d;
    color: #fff;
}
