#flash-deals-container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding-top: 108px; */
}

.flash-deal-title {
    font-weight: bold;
    margin-top: 12px;
    font-size: 30px;
}

/* Show all product */
#flash-deals-container #show-products {
    width: 100%;
    margin: 28px auto 0;
    display: flex;
}

/* product-category */
#flash-deals-container #product-category {
    width: 25%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 3px 5px -1px, rgba(0, 0, 0, 0.043) 0px 5px 8px 0px, rgba(0, 0, 0, 0.035) 0px 1px 14px 0px;
    border-radius: 8px;
    height: fit-content;
}

#flash-deals-container #product-category #base-category-card {
    width: 266px;
    padding: 0.35rem 0;
    margin: 1rem 0.1rem;
    background-color: rgb(246, 249, 252);
    font-weight: bold;
    border-radius: 8px;
}

#flash-deals-container #product-category #base-category-card:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 26px;
}

#flash-deals-container #product-category #base-category-card #category-card-container:hover {
    background-color: unset;
    color: unset;
}

/* List product */

#flash-deals-container #list-product {
    margin-left: 2%;
    width: 100%;
}

/* Search product */
#flash-deals-container #search-product {
    width: 266px;
    height: 40px;
    padding: 0.35rem 8px;
    margin: 1rem 0.1rem;
    border-radius: 8px;
    border: 1px solid #dfdede;
    background-color: rgb(246, 249, 252);
}

#flash-deals-container #search-product:focus {
    border: 1px solid #4a4d51;
    background-color: #fff;
    outline: none;
}