#the-header {
    padding-top: 20px;
    padding-bottom: 4px;
    z-index: 2;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 19;
}

#the-header .t-hover-red:hover {
    color: #4a4d51;
}

.t-block {
    display: block !important;
}

.t-logout {
    /* height: 40px; */
    display: flex;
    justify-content: center;
    padding: 8px 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    align-items: center;
    background-color: #fff;
    color: #000;
    position: absolute;
    display: none;
    bottom: 16px;
    cursor: pointer;
    z-index: 2;
}

.t-logout:hover {
    background-color: #4a4d51;
    color: #fff;
}

/* Top header */
#top-header {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

#the-header .logo a {
    font-size: 40px;
    font-family: 'Alkalami', serif;
    font-style: italic;
    color: #4a4d51;
    text-decoration: none;
}

#the-header #base-search {
    flex-grow: 0.5;
}

#the-header .user-info {
    margin-right: 20px;
}

.user-info img {
    width: 100%;
    height: 100%;
}

#the-header .user-info, 
#the-header .cart-info {
    color: #686868;
    padding: 8px;
    width: 44px;
    height: 44px;
    border-radius: 500px;
    background-color: rgb(243, 245, 249);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Cart */
.cart-info {
    position: relative;
}

.cart-size {
    background-color: #4a4d51;
    color: #fff;
    width: 20px;
    height: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -5px;
    right: -5px;
}

/* Bottom header*/
#the-header #bot-header {
    /* box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px; */
    box-shadow:0 4px 4px rgb(43 52 69 / 10%);
    -webkit-box-shadow:0 4px 4px rgb(43 52 69 / 10%);
    -moz-box-shadow:0 4px 4px rgb(43 52 69 / 10%);
}

#the-header #bot-container {
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

#the-header .bot-left #base-category-card {
    width: 178px;
}

#the-header .bot-left #category-card-container {
    background: rgb(246, 249, 252);
    font-weight: 600;
    color: rgb(125, 135, 156);
}

#the-header .bot-left #category-card-container:hover {
    background: rgb(246, 249, 252);
    color: rgb(125, 135, 156);
}

.bot-right {
    display: flex;
    align-items: center;
}

.bot-right > div {
    padding: 2px 0 2px 20px;
    margin-left: 10px;
    cursor: pointer;
}

.home {
    position: relative;
}



