#the-navbar {
    border-radius: 8px;
    display: inline-block;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    background-color: #fff;
    /* box-shadow:0 4px 4px rgb(43 52 69 / 10%);
    -webkit-box-shadow:0 4px 4px rgb(43 52 69 / 10%);
    -moz-box-shadow:0 4px 4px rgb(43 52 69 / 10%); */
}

#the-navbar #the-navbar-container {
    padding: 8px 0;
}