@import url('../assets/icons/fontawesome-free-6.1.2-web/css/all.min.css');

#app {
    --primary-color: #4a4d51;
    --primary-color-text: rgb(43, 52, 69);
    position: relative;
    background-color: rgb(246, 249, 252);
}

a {
    text-decoration: none;
    color: unset;
}

/* Begin define common css */
.t-flex {
    display: flex;
}

.t-between {
    justify-content: space-between;
}

.t-justify-center {
    justify-content: center;
}

.t-align-center {
    align-items: center;
}

.t-text-right {
    text-align: right;
}

.t-text-center {
    text-align: center;
}

.t-border-red {
    border: 1px solid #4a4d51;
}

.t-color-red {
    color: #4a4d51;
}

.t-w-100 {
    width: 100%;
}

.t-w-30 {
    width: 30%;
}

.t-bg-red {
    background-color: #4a4d51;
}

.t-color-white {
    color: #fff;
}

.t-bold-600 {
    font-weight: 600;
}

.t-pointer {
    cursor: pointer;
}

/* End define common css */

a:hover {
    text-decoration: none;
    color: unset;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(43, 52, 69);
    font-size: 14px;
}

::-webkit-scrollbar {
    width: 2px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: #888; 
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}