#base-card {
    /* cursor: pointer; */
    max-width: 282px !important;
    min-width: 264px !important;
    border-radius: 8px;
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
}

#base-card:hover {
    box-shadow: rgb(3 0 71 / 9%) 0px 8px 45px;
    cursor: pointer;
    transition: all 250ms ease-in-out 0s;
}

#base-card .card {
    border-radius: 5px;
    border: none;
    -webkit-box-pack: justify;
}

#base-card .t-top-12 {
    margin-top: 12px;
}

#base-card .sale-off {
    background-color: #e94560 !important;
    border-radius: 300px;
    padding: 5px 10px;
    
}

#base-card .card-body .top-info {
    height: 24px;
}

#base-card .product-name {
    margin-bottom: 10px;
}

#base-card .product-name h3 {
    color: rgb(55, 63, 80);
    font-size: 14px;
    font-weight: 600;
}

#base-card .product-price {
    font-size: 16px;
    display: flex;
    align-items: center;
    color: #e94560;
}

#base-card .add-to-cart {
    border: 1px solid #ffb1be;
    border-radius: 5px;
    color: #e94560;
    cursor: pointer;
}

#base-card .add-to-cart:hover {
    color: #fff;
    background-color: #e94560;
}

#base-card .add-to-cart i {
    font-size: 16px;
    padding: 4px 5px;
}

#base-card .inventory,
#base-card .category-name {
    font-size: 12px;
}

#base-card .unit-price {
    font-size: 12px;
    display: flex;
    align-items: center;
}

#base-card .card-img-top {
    height: 279.779px;
}