#base-order-detail {
    margin-top: 32px;
    padding-top: 116px;
}

#order-detail-container {
    width: 50%;
    margin: 0 auto;
}

#base-order-detail #base-button {
    background-color: rgb(255, 225, 230);
}

#base-order-detail #base-button button {
    color: #4a4d51 !important;
    font-weight: 600;
}

/* Area 1 */
#base-order-detail .area-1 #base-button {
    width: 132px;
}

/* Area 2 */
#base-order-detail .area-2 {
    background-color: #fff;
    border-radius: 8px;
    padding: 24px;
    box-shadow: rgba(3, 0, 71, 0.09) 0px 1px 3px;
    margin-top: 24px;
}

.t-process-common {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.t-order-color-common {
    background-color: rgb(227, 233, 239);
    color: #4a4d51;
}

.t-line-1 {
    flex: 1 1 0px;
    width: 50px;
    height: 4px;
}

.t-line-2 {
    flex: 1 1 0px;
    width: 50px;
    height: 4px;
}

.t-color-order-status {
    background-color: #4a4d51;
}

/* Area 3 */
#base-order-detail .area-3 {
    margin-top: 32px;
}
